body{
    background-color: #000;
}
.row {
    padding-left: 50px;
    
}
.card img {
    height: 500px;
    object-fit: cover;
}
.card {
    
    padding: 0;
    width: 600px;
    height: 750px;
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.02);
}
