*{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: white;
}
.konteyner{
    padding-left: 200px;
    padding-right: 200px;  
}
img{
    max-width: 500px;
    border-radius: 16px;
    transition-delay: 0.1s
}